<div>
  <h2 id="page-heading" data-cy="FlashcardViewerHeading">
    <div class="d-flex justify-content-center">
      <span jhiTranslate="global.menu.entities.flashcardViewer">Practice</span>
    </div>

    <div class="d-flex justify-content-start">
      <button class="btn btn-info me-2" (click)="onShowPrevious()" [disabled]="isLoading">
        <fa-icon icon="chevron-left"></fa-icon>
        <span jhiTranslate="flashcardsApp.flashcardViewer.previous">Previous Flashcard</span>
      </button>
      <button class="btn btn-info me-2" (click)="onShowNext()" [disabled]="isLoading">
        <fa-icon icon="chevron-right"></fa-icon>
        <span jhiTranslate="flashcardsApp.flashcardViewer.next">Next Flashcard</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div *ngIf="flashcard">
    <div *ngIf="timeLeft">
      <span jhiTranslate="flashcardsApp.flashcardViewer.home.timeLeft">Time left:</span><span> {{ timeLeft | timeLeft }}</span>
    </div>
    <div>
      <span jhiTranslate="flashcardsApp.flashcardViewer.home.correct">Correct:</span><span> {{ correctNum }} / {{ totalCardsPlayed }}</span>
    </div>
    <dl class="row-md jh-entity-details">
      <dt><span jhiTranslate="flashcardsApp.flashcard.question">Question</span></dt>
      <dd>
        <span>{{ flashcard.question }}</span>
      </dd>
      <dt><span jhiTranslate="flashcardsApp.flashcard.hint">Hint</span></dt>
      <dd>
        <button *ngIf="!showHint" class="btn btn-info btn-sm me-2" (click)="onShowHint()" [disabled]="isLoading">
          <fa-icon icon="eye"></fa-icon>
          <span jhiTranslate="flashcardsApp.flashcardViewer.showHint">Show</span>
        </button>
        <span *ngIf="showHint">{{ flashcard.hint }}</span>
      </dd>
      <dt><span jhiTranslate="flashcardsApp.flashcard.answer">Answer</span></dt>
      <dd>
        <button *ngIf="!showAnswer" class="btn btn-info btn-sm me-2" (click)="onShowAnswer()" [disabled]="isLoading">
          <fa-icon icon="eye"></fa-icon>
          <span jhiTranslate="flashcardsApp.flashcardViewer.showAnswer">Show</span>
        </button>
        <span *ngIf="showAnswer">{{ flashcard.answer }}</span>
      </dd>
      <dt><span jhiTranslate="flashcardsApp.flashcardViewer.mark">Mark answer</span></dt>
      <dd>
        <button *ngIf="!marked" class="btn btn-success btn-sm me-2" (click)="onMarkCorrect()" [disabled]="isLoading || !showAnswer">
          <fa-icon icon="check"></fa-icon>
          <span jhiTranslate="flashcardsApp.flashcardViewer.markCorrect">Correct</span>
        </button>
        <button *ngIf="!marked" class="btn btn-danger btn-sm me-2" (click)="onMarkIncorrect()" [disabled]="isLoading || !showAnswer">
          <fa-icon icon="xmark"></fa-icon>
          <span jhiTranslate="flashcardsApp.flashcardViewer.markIncorrect">Incorrect</span>
        </button>
        <span *ngIf="marked"> Marked {{ markedValue }} </span>
      </dd>
      <!-- <dt><span jhiTranslate="flashcardsApp.flashcard.tag">Tag</span></dt>
      <dd>
        <div *ngIf="flashcard.tag">
          <a [routerLink]="['/tag', flashcard.tag.id, 'view']">{{ flashcard.tag.id }}</a>
        </div>
      </dd> -->
    </dl>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="flashcards?.length === 0">
    <span jhiTranslate="flashcardsApp.flashcard.home.notFound">No Flashcards found</span>
  </div>
</div>
