<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="tags">
      <h2 data-cy="flashcardDetailsHeading"><span jhiTranslate="flashcardsApp.flashcard.detail.title">Flashcard</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <!-- <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ flashcard.id }}</span>
        </dd>
        <dt><span jhiTranslate="flashcardsApp.flashcard.question">Question</span></dt>
        <dd>
          <span>{{ flashcard.question }}</span>
        </dd>
        <dt><span jhiTranslate="flashcardsApp.flashcard.answer">Answer</span></dt>
        <dd>
          <span>{{ flashcard.answer }}</span>
        </dd>
        <dt><span jhiTranslate="flashcardsApp.flashcard.hint">Hint</span></dt>
        <dd>
          <span>{{ flashcard.hint }}</span>
        </dd> -->
        <!-- <dt><span jhiTranslate="flashcardsApp.flashcard.correct">Correct</span></dt>
        <dd>
          <span>{{ flashcard.correct }}</span>
        </dd> -->
        <!-- <dt><span jhiTranslate="flashcardsApp.flashcard.globalRating">Global Rating</span></dt>
        <dd>
          <span>{{ flashcard.globalRating }}</span>
        </dd> -->
        <dt><span jhiTranslate="flashcardsApp.flashcard.tag">Tag</span></dt>
        <div class="row mb-3">
          <!-- <label jhiTranslate="flashcardsApp.flashcard.tag" for="field_tags">Tag</label> -->
          <select class="form-control" id="field_tags" data-cy="tag" multiple name="tags" [(ngModel)]="selectedTags">
            <option [ngValue]="tagOption" *ngFor="let tagOption of tags">{{ tagOption.name }}</option>
          </select>
        </div>
        <!-- <dd>
          <span *ngFor="let tag of tags; let last = last">
            <a [routerLink]="['/tag', tag.id, 'view']">{{ tag.name }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd> -->
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entitySelectorBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
      <button type="submit" (click)="onStudy()" class="btn btn-info" data-cy="entitySelectorStudyButton" [disabled]="!selectedTags?.length">
        <fa-icon icon="book-open"></fa-icon>&nbsp;<span jhiTranslate="entity.action.study">Study</span>
      </button>

      <!-- <button type="button" [routerLink]="['/flashcard', flashcard.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button> -->
    </div>
  </div>
</div>
