<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-flashcard-heading" data-cy="FlashcardCreateUpdateHeading" jhiTranslate="flashcardsApp.flashcard.home.createOrEditLabel">
        Create or edit a Flashcard
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <!-- <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div> -->

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="flashcardsApp.flashcard.question" for="field_question">Question</label>
          <input type="text" class="form-control" name="question" id="field_question" data-cy="question" formControlName="question" />
          <div *ngIf="editForm.get('question')!.invalid && (editForm.get('question')!.dirty || editForm.get('question')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('question')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="flashcardsApp.flashcard.answer" for="field_answer">Answer</label>
          <input type="text" class="form-control" name="answer" id="field_answer" data-cy="answer" formControlName="answer" />
          <div *ngIf="editForm.get('answer')!.invalid && (editForm.get('answer')!.dirty || editForm.get('answer')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('answer')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="flashcardsApp.flashcard.hint" for="field_hint">Hint</label>
          <input type="text" class="form-control" name="hint" id="field_hint" data-cy="hint" formControlName="hint" />
        </div>

        <!-- <div class="row mb-3">
          <label class="form-label" jhiTranslate="flashcardsApp.flashcard.correct" for="field_correct">Correct</label>
          <input type="checkbox" class="form-check" name="correct" id="field_correct" data-cy="correct" formControlName="correct" />
        </div> -->

        <!-- <div class="row mb-3">
          <label class="form-label" jhiTranslate="flashcardsApp.flashcard.globalRating" for="field_globalRating">Global Rating</label>
          <input
            type="number"
            class="form-control"
            name="globalRating"
            id="field_globalRating"
            data-cy="globalRating"
            formControlName="globalRating"
          />
        </div> -->

        <div class="row mb-3">
          <label jhiTranslate="flashcardsApp.flashcard.tag" for="field_tags">Tag</label>
          <select class="form-control" id="field_tags" data-cy="tag" multiple name="tags" formControlName="tags" [compareWith]="compareTag">
            <option [ngValue]="tagOption" *ngFor="let tagOption of tagsSharedCollection">{{ tagOption.name }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
