/* ==========================================================================
Main page styles
========================================================================== */

.front-page-image {
  display: inline-block;
  width: 800px;
  height: 532px;
  background: url('../../content/images/college_reading.preview.jpg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .front-page-image {
    background: url('../../content/images/college_reading.preview.jpg') no-repeat center top;
    background-size: contain;
  }
}
